apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "tekton-pipelines.fullname" . }}-webhook
  labels:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/name: webhook
    app.kubernetes.io/part-of: tekton-pipelines
    app.kubernetes.io/version: v0.36.0
    pipeline.tekton.dev/release: v0.36.0
    version: v0.36.0
  {{- include "tekton-pipelines.labels" . | nindent 4 }}
spec:
  maxReplicas: 5
  metrics:
  - resource:
      name: cpu
      targetAverageUtilization: 100
    type: Resource
  minReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: tekton-pipelines-webhook
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "tekton-pipelines.fullname" . }}-webhook
  labels:
    app: tekton-pipelines-webhook
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/name: webhook
    app.kubernetes.io/part-of: tekton-pipelines
    app.kubernetes.io/version: v0.36.0
    pipeline.tekton.dev/release: v0.36.0
    version: v0.36.0
  {{- include "tekton-pipelines.labels" . | nindent 4 }}
spec:
  type: {{ .Values.webhook.type }}
  selector:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/name: webhook
    app.kubernetes.io/part-of: tekton-pipelines
  {{- include "tekton-pipelines.selectorLabels" . | nindent 4 }}
  ports:
	{{- .Values.webhook.ports | toYaml | nindent 2 -}} 
